BUILD_TARGET=dev
# secret keys
COLANDR_SECRET_KEY="<YOUR_SECRET_KEY>"
COLANDR_JWT_SECRET_KEY="<COLANDR_JWT_SECRET_KEY>"
# database connection
COLANDR_DB_USER="<COLANDR_DB_USER>"
COLANDR_DB_PASSWORD="<COLANDR_DB_PASSWORD>"
COLANDR_DB_NAME="<COLANDR_DB_NAME>"
COLANDR_DATABASE_URI="postgresql://${COLANDR_DB_USER}:${COLANDR_DB_PASSWORD}@localhost:5432/${COLANDR_DB_NAME}"
# email server
COLANDR_MAIL_SERVER=colandr-email
COLANDR_MAIL_PORT=1025
COLANDR_MAIL_USERNAME="<COLANDR_MAIL_USERNAME>"
COLANDR_MAIL_PASSWORD="<COLANDR_MAIL_PASSWORD>"
COLANDR_MAIL_USE_TLS=0
COLANDR_MAIL_USE_SSL=0
# filesystem storage
COLANDR_APP_DIR="/app"
COLANDR_FILESYSTEM_PROTOCOL="file"  # in prod, use "gcs"
COLANDR_FILESYSTEM_ROOT_DIR="/tmp"  # in prod, use "<GCS_BUCKET>"
COLANDR_FILESYSTEM_GCS_PROJECT="<GCS_PROJECT>"
COLANDR_FILESYSTEM_GCS_TOKEN="<GCS_TOKEN>"
COLANDR_FILESYSTEM_GCS_ENDPOINT_URL="http://colandr-gcs:4443"  # dev-only!
# metadata extraction config
COLANDR_METADATA_THRESHOLD=0.65
COLANDR_METADATA_INCREASE_TO_RETRAIN=5
COLANDR_METADATA_MIN_TO_TRAIN=40
# misc
# COLANDR_SERVER_NAME="https://colandr.datakind.org"  # prod-only!