BUILD_TARGET=dev

COLANDR_DB_USER="<COLANDR_DB_USER>"
COLANDR_DB_PASSWORD="<COLANDR_DB_PASSWORD>"
COLANDR_DB_NAME="<COLANDR_DB_NAME>"
COLANDR_DATABASE_URI="postgresql://${COLANDR_DB_USER}:${COLANDR_DB_PASSWORD}@localhost:5432/${COLANDR_DB_NAME}"

COLANDR_SECRET_KEY="<YOUR_SECRET_KEY>"
COLANDR_APP_DIR="/path/to/permanent-colandr-back"

COLANDR_MAIL_SERVER=colandr-email
COLANDR_MAIL_PORT=1025
COLANDR_MAIL_USERNAME="<COLANDR_MAIL_USERNAME>"
COLANDR_MAIL_PASSWORD="<COLANDR_MAIL_PASSWORD>"
COLANDR_MAIL_USE_TLS=0
COLANDR_MAIL_USE_SSL=0

COLANDR_JWT_SECRET_KEY="<COLANDR_JWT_SECRET_KEY>"

# metadata extraction config
COLANDR_METADATA_THRESHOLD=0.65
COLANDR_METADATA_INCREASE_TO_RETRAIN=5
COLANDR_METADATA_MIN_TO_TRAIN=40
